# Python
venv/
__pycache__/
*.py[cod]
*.env
.env

# Mac
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log


# F1 Telemetry Data
data/*.csv
data/cache/
fastf1_http_cache.sqlite

# Python Virtual Environment
venv/